@using ReadHub.Core.Services.Cart.Models;

@model CartServiceModel

@{
	ViewBag.Title = "My Cart";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />


@if (Model == null || !Model.BooksInCart.Any())
{
		<h2 class="text-center">No Books in your cart!</h2>
}

<div class="row">
	@if (Model != null)
	{
		@foreach (var cart in Model.BooksInCart)
		{
			<partial name="_MyCartPartial" model="@cart" />
		}
	}
</div>
