@using ReadHub.Core.Services.Order.Models;

@model OrdersServiceModel

@{
	ViewBag.Title = "My Library";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (Model == null || !Model.Orders.Any())
{
		<h2 class="text-center">No Books in your Library!</h2>
}

<div class="row">
	@if (Model != null)
	{
		@foreach (var cart in Model.Orders)
		{
					<partial name="_MyLibraryPartial" model="@cart" />
		}
	}
</div>